@page
@model WebApplication24_02.Pages.Categories.DetailsModel
@{
    ViewData["Title"] = "Detalles de Categoría";
}
<h2>Detalles de Categoría</h2>
<dl class="row">
    <dt class="col-sm-2">Nombre</dt>
    <dd class="col-sm-10">@Model.Category.Name</dd>
</dl>
<a asp-page="Edit" asp-route-id="@Model.Category.CategoryId" class="btn btn-primary">Editar</a>
<a asp-page="Index" class="btn btn-secondary">Volver</a>
