@page
@model WebApplication24_02.Pages.Customers.DetailsModel
@{
    ViewData["Title"] = "Detalles del Cliente";
}
<h2>Detalles del Cliente</h2>
<div>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Customer.Name</dd>
        <dt class="col-sm-2">Teléfono</dt>
        <dd class="col-sm-10">@Model.Customer.Phone</dd>
        <dt class="col-sm-2">Dirección</dt>
        <dd class="col-sm-10">@Model.Customer.Address</dd>
    </dl>
    <a asp-page="Edit" asp-route-id="@Model.Customer.CustomerId" class="btn btn-primary">Editar</a>
    <a asp-page="Index" class="btn btn-secondary">Volver</a>
</div>
